<!DOCTYPE html>
<html>
  <head>
    <title>Sports Shop</title>
    <link rel="stylesheet" type="text/css" href="/app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Sports Shop</h1>
      </div>
      <div class="container-fluid">
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <ul class="nav navbar-nav">
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="#">About <span class="sr-only">(current)</span></a>
              </li>
              <li>
                <a href="/basket">My Basket</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
      <br />
      <%= yield %>
      <footer class="footerz">
        <small>
          Sports Shop
        </small>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href=#>About</a></li>
            <li><a href="/basket">My Basket</a></li>
          </ul>
        </nav>
      </footer>
    </div>
  </body>
</html>
