<html>
  <head>
    <title>Sports Shop</title>
  </head>
  <body bgcolor="#bfc8d4">
    <header>
      <div>
        <h1>Sports Shop</h1>
        <nav>
          <a href="/">Home</a> |
          <a href=#>About</a> |
          <a href="/basket">My Basket</a>
        </nav>
      </div>
    </header>
    <section>
      <div>
        <br />
      <%= yield %>
        <br /><br />
      </div>
    </section>
    <footer>
      <small>
        Sports Shop
        <nav>
          <a href="/">Home</a> |
          <a href=#>About</a> |
          <a href="/basket">My Basket</a>
        </nav>
      </small>
    </footer>
  </body>
</html>
